.stocks-picker {
    display: inline-block;
    width: 350px;
    position: relative;
}

.stocks-picker__label {
    font-size: 12px;
}

.stocks-picker__input {
    margin-bottom: 5px;
    width: 94.5%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
    color: darkgray;
}

.stocks-picker__error {
    padding-top: 5px;
    color: red;
}

.stocks-picker__options {
    width: 100%;
    border-radius: 3px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    position: absolute;
    background-color: white;
    display: none;
}

.stocks-picker__options.options--open {
    display: block;
}

.stocks-picker__options__list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100px;
    overflow: auto;
}

.stocks-picker__options__list__item {
    padding: 10px;
}

.stocks-picker__options__list__item:hover {
    background-color: lightgray;
}