.close {
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: red;
}
.close__button {
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
    cursor: pointer;
}
.close__label {
    display: block;
    font-size: 12px;
}

